html
  head
    title!= Randomizer
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css")
    link(rel="stylesheet", href="/custom.css")
  body
    .container
      .row
        .twelve.columns.centered
          h1.centered Error
          p.centered Not enough people have signed up to successfully match! Wait for more people to sign up and try again.