html
  head
    title!= Randomizer
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css")
    link(rel="stylesheet", href="/custom.css")
  body
    .container
      h1 Spreadsheet randomizer
      p Open your file, then click File -&gt; Publish to the web... -&gt; Publish -&gt; OK
      p Copy and paste the link in the resulting pop-up box, paste it here, then press enter
      input(type='text', size="48")#inp
      script(type='text/javascript').
        var inp = document.getElementById("inp")
        inp.addEventListener('keyup', function(e){
          if(e.keyCode == 13){
            console.log(inp.value)

            var link = inp.value
            var spreadsheetId = parseLink(link)

            window.location.href = "/randomize/"+spreadsheetId;
          }
        })

        function parseLink(str){
          //input: https://docs.google.com/spreadsheets/d/1sXcD3mtoULKMqpFnl2I7uwobN2LzHHQTJxpizkUVIEk/pubhtml
          //output: 1sXcD3mtoULKMqpFnl2I7uwobN2LzHHQTJxpizkUVIEk
          str = str.replace(/.*d\//, "")
          str = str.replace(/\/.*/, "")
          return str
        }


